body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 1;
  align-items: center;
  background-color: black;
  top: 0;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline;
  padding: 20px 10px;
  text-decoration: underline;
}

nav span a {
  color: seashell;
}

.Sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#TopSection {
  background-image: url("../../resources/images/img-mission-background.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 700px;
}

.Mission {
  margin: auto;
  background-color: black;
  width: 1200px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.TeaMonth {
  width: 1000px;
  margin-top: 65px;
  padding-bottom: 15px;
}

.AllTeas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Tea {
  margin: 0px 15px;
}

.Tea img {
  height: 200px;
  margin: 10px;
  width: 300px;
}

.Tea p {
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}

#BottomSection {
  background-image: url("../../resources/images/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
  width: 1200px;
}

.LocationsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  margin: 0px 20px;
  width: 300px;
  background-color: black;
  opacity: 1;
}

.ContactInfo {
  height: 200px;
}
